<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AdminAuthentication</servlet-name>
        <servlet-class>controllers.AdminAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>models.Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controllers.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>controllers.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>controllers.ContactServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAuthentication</servlet-name>
        <url-pattern>/auth/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/AccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/admin/ContactServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestContactServlet</servlet-name>
        <servlet-class>controllers.RequestContactServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestContactServlet</servlet-name>
        <url-pattern>/RequestContactServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>